<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/CSS/common.css}">

</head>
<body>
    <div class="container py-3">
        <div th:insert="~{home :: headerbar}"></div>
        <div th:if="${error}" class="error" th:text="${error}"></div>
        <a th:href="@{/author/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Author</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Author Name</th>
                    <th>Nationality</th>
                    <th>Gender</th>
                    <th>Year of birth</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="temp : ${authors}">
                    <td th:text="${temp.authorName}"></td>
                    <td th:text="${temp.nationality}"></td>
                    <td th:text="${temp.gender}"></td>
                    <td th:text="${temp.yearBirth}"></td>
                    <td>
                        <a th:href="@{/author/showFormForUpdate(authorId=${temp.author_id})}" class="btn btn-primary btn-sm">Update</a>
                        <a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/author/delete(authorId=${temp.author_id})}" class="btn btn-danger btn-sm"
                           onclick="if(!(confirm('Are you sure you want to delete the author?'))) return false">Delete</a>

                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/staff}">Back to Entrance</a>
        <div th:insert="~{home :: footer}"></div>
    </div>
</body>
</html>